.Tombol {
  background: #5588ab;
  padding: 15px 32px;
  font-size: 20pt;	
  color: white;
  width: auto;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
}

.JajarGenjang{
  transform: skew(35deg);
}

.TextMiring{
  transform: skew(-35deg);
}